@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400..700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@600&text=خالد حسني&display=swap");

:root {
  --body-width: 50em;
  --body-padding: 2em;
  --body-margin: 5em;
  --links-width: 2em;
  --links-padding: 0.5em;
  --links-shift: calc(
    (var(--links-width) + var(--links-padding) + var(--body-padding)) * -1
  );
  --line-height: 1.5;
}

:lang(en) {
  font-family: "Merriweather", serif;
}

:lang(ar) {
  font-family: "Fustat", serif;
  font-weight: 600;
}

html {
  background-color: azure;
}

h1 {
  margin-top: 0;
}

h1,
h2 {
  color: rgb(0, 120, 120);
}

body {
  margin: var(--body-margin) auto;
  padding: var(--body-padding);
  max-width: var(--body-width);
  background-color: white;
}

p,
dd,
li {
  line-height: var(--line-height);
  text-align: justify;
  hyphens: auto;
  /* text-wrap: balance; */
}

a {
  color: rgb(0, 140, 140);
  text-decoration: none;
}

#profile-image {
  float: right;
  margin: 0.5em 0 1em 1em;
  width: 40%;
  border-radius: 50%;
  shape-outside: margin-box;
}

#links {
  display: flex;
  flex-direction: column;
  float: left;
  position: fixed;
  margin-left: var(--links-shift);
  width: var(--links-width);
  gap: var(--links-padding);
}

#links a {
  width: var(--links-width);
  height: var(--links-width);
}

#links a:after {
  width: var(--links-width);
  height: var(--links-width);
  position: absolute;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
}

a[aria-label="GitHub"]:after {
  background-image: url(/assets/icons/square-github-brands.svg);
}
a[aria-label="Mastodon"]:after {
  background-image: url(/assets/icons/mastodon-brands.svg);
}
a[aria-label="YouTube"]:after {
  background-image: url(/assets/icons/square-youtube-brands.svg);
}
a[aria-label="Facebook"]:after {
  background-image: url(/assets/icons/square-facebook-brands.svg);
}
a[aria-label="Instagram"]:after {
  background-image: url(/assets/icons/instagram-brands.svg);
}
a[aria-label="LinkedIn"]:after {
  background-image: url(/assets/icons/linkedin-brands.svg);
}
a[aria-label="Email"]:after {
  background-image: url(/assets/icons/square-envelope-solid.svg);
}

ul {
  padding: 0;
}

@media screen and (max-width: 950px) {
  #links {
    flex-direction: row;
    justify-content: center;
    float: initial;
    position: initial;
    margin-left: 0;
    width: 100%;
    padding-bottom: var(--body-padding);
  }
}

@media screen and (max-width: 450px) {
  h1,
  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --body-padding: 1em;
  }
}

@media screen and (max-width: 350px) {
  #links {
    gap: 0.2em;
  }
}

@media print {
  html {
    background-color: initial;
  }

  #links {
    flex-direction: row;
    justify-content: center;
    float: initial;
    position: initial;
    margin-left: 0;
    width: 100%;
    padding-bottom: var(--body-padding);
  }

  #links a {
    print-color-adjust: exact;
  }
}
